.marginSpace{
margin: 100px
}

h1:hover{
    color: red;
}
h1{
    font-size: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 50%;
    transition: .5s ease;
    background-color:white;
  }
  
  .container:hover .overlay {
    opacity: 2;

  }

  
  .text {
    color:pink;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }